<div>
    <div class="flex justify-center items-center text-center bg-gray-400 p-5 text-white shadow-xl">
        <ul class="flex gap-10">
            <% for(c of category){%>

                <li> <a href="/product/<%=c.name%>/category" class="">

                        <%=c.name%>
                    </a></li>
                <%}%>
        </ul>
    </div>
    <h2 class="flex justify-center items-center font-bold h-40 text-4xl">Sản Phẩm</h2>
    <div id="productList" class="flex flex-wrap justify-center items-center gap-10 mb-5">
        <% for(b of product){ %>
            <div class="w-80 h-100 p-5 border shadow-xl hover:opacity-75">
                <img src="/images/<%=b.imageURL%>" class="w-72 h-56" alt=""> <br>
                <a href="/detailbook/<%=b.id%>">
                    <strong>
                        <%= b.name%>
                    </strong>
                </a> <br>

                <span class="w-auto h-auto">
                    GIÁ: <%=b.price%>
                </span> <br>
                <button
                    class="text-sm uppercase font-bold py-2 px-3 mt-2 border-2 border-black rounded shadow-md relative transition duration-300 bg-white hover:text-white hover:bg-black focus:text-white focus:bg-black transform hover:scale-90 focus:scale-90">
                    Mua hàng
                </button>
            </div>
            <% }%>
    </div>
</div>